html,
body,
#root {
  background: transparent !important;
  background-color: transparent !important;
}

.VWrapper .VLeftElements .VBanner {
  background: #000;
}

.VWrapper .VLeftElements .VBanner img {
  display: block !important;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
